body {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

h3{
  font-size: 105%;
  text-align: center;
  color: #9B9DAC;
}

.card-title {
  font-family: "Roboto Condensed",sans-serif;
  margin-top: 5%;
  margin-bottom: 2%;
  text-transform: capitalize;
}

.card {
  transition: transform .1s ease-out;
  cursor: pointer;
}

.card-img-top {
    /* height: 100%; */
    width: 100%;
    height: 16vw;
    /* max-height: 250px; */
    /* min-height: 200px; */
    object-fit: cover;
}

/* .hoverable {
  transition: transform .1s ease-out;
} */

.card:hover {
  transform: translate(0, -8px);
}


.tag-line {
  margin-bottom: 3%;
}

.badge {
  padding: 2% 4% 2.5% 4%;
  box-shadow: none;
  font-size: 105%;
  font-weight: 300;
  background-color: #595D73;
  margin-top: 3%;
}

.badge#main{
  padding: 1% 1.5% 1% 1.5%;
}

.tag {
  padding: 2% 4% 2.5% 4%;
  background-color: #DDDEE4;
  color: #7B7F93 !important;
  text-transform: capitalize;
  font-weight: bold !important;
  margin-right: 3%;
  margin-top: 5%;
}

.btn {
  margin-left: 0;
}

a, a:hover {
  color: black;
}

footer {
  background-color: #595D73;
}
